.menu-bar__container {
  height: 50px;
}

.menu-bar__navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.menu-bar__nav-item {
  padding-top: 1rem ;
  padding-left: 2rem;
}

.menu-bar__nav-item > a {
 text-decoration: none;
}

