<div class="menu-bar__container">

  <nav>
    <ul class="menu-bar__navbar">
      <li class="menu-bar__nav-item">
        <a href="#"></a>
      </li>
      <li class="menu-bar__nav-item">
        <a href="#">LEARN</a>
      </li>
      <li class="menu-bar__nav-item">
        <a href="#">BLOG</a>
      </li>
      <li class="menu-bar__nav-item">
        <a href="#">BOOKMARKS</a>
      </li>
      <li class="menu-bar__nav-item">
        <a href="#">CONTENT</a>
      </li>
      <li class="menu-bar__nav-item">
        <a href="#">GOULART</a>
      </li>


    </ul>
  </nav>

</div>
